@using System.Collections.Generic;
@using System.ComponentModel.DataAnnotations;
@using System.Net;
@using FloraFlow.Models;

@{
    ViewBag.Title = "SelectCategory";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<int> plants = ViewData["plants"] as List<int>;
    var plantsJsons = (PlantJson_QuickType.PlantsJson[])ViewData["plantJson"];
}

<header>

    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        .card {
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
            transition: 0.3s;
            width: 40%;
        }

        body {
            font-family: Arial, Helvetica, sans-serif;
        }



        .flip-card {
            background-color: transparent;
            width: 300px;
            height: 300px;
            perspective: 1000px;
        }



        .flip-card-inner {
            position: relative;
            width: 100%;
            height: 100%;
            text-align: center;
            transition: transform 0.6s;
            transform-style: preserve-3d;
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        }



        .flip-card:hover .flip-card-inner {
            transform: rotateY(180deg);
        }



        .flip-card-front, .flip-card-back {
            position: absolute;
            width: 100%;
            height: 100%;
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
        }



        .flip-card-front {
            background-color: #bbb;
            color: black;
        }



        .flip-card-back {
            background-color: #2980b9;
            color: white;
            transform: rotateY(180deg);
        }
    </style>



</header>

<main>
    <body data-bs-spy="scroll" data-bs-offset="200">
        <section class="py-5 text-center container">
            <div class="row py-lg-4">
                <div class="col-lg-6 col-md-8 mx-auto">
                    <h1 class="fw-light">Plants</h1>
                    <p class="lead text-muted">pick you new flower  </p>

                </div>
            </div>
        </section>
        <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                @*here i put in the loop to put in the html flipcards based on the sql input *@
               @* @for (int i = 0; i < plants.Count(); i++)
                {
                    <div class="flip-card">
                        <div class="flip-card-inner">
                            <div class="flip-card-front">
                                <img src="@plants[i].Url" alt="@plants[i].Plant_name" style="width:300px;height:300px;" />
                            </div>
                            <div class="flip-card-back">
                                <h1>"@plants[i].Plant_name"</h1>
                                <p>Plant descriptie</p>
                                <p>We love that plant</p>
                                <div class="btn-group">
                                    <a href="@Url.Action("FillPot", "Pots", new { plant = plants[i].Plant_name })" class="btn btn-success">Add to pot</a>
                                </div>
                            </div>
                        </div>
                    </div>
                }*@
                @foreach(PlantJson_QuickType.PlantsJson plantsJson in plantsJsons)
                {
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <img src="@plantsJson.Url" alt="@plantsJson.PlantName" style="width:300px;height:300px;" />
                        </div>
                        <div class="flip-card-back">
                            <h1>"@plantsJson.PlantName"</h1>
                            <p>Plant descriptie</p>
                            <p>We love that plant</p>
                            <div class="btn-group">
                                <a href="@Url.Action("Changeplants", "Plants", new { plant = plantsJson.Id, })" class="btn btn-success">Add to pot</a>
                            </div>
                        </div>
                    </div>
                </div>
                }
            </div>
        </div>
        
        
    </body>
</main>


@*<div class="album py-5 bg-light">
        <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                <div class="col">
                    <div class="card">
                        <svg class="bd-placeholder-img card-img-top"> <img src="@plants[i].Url" alt="@plants[i].Plant_name" /></svg>
                        <div class="card-body">
                            <p class="card-text">Plant @{int count = i + 1;} @count is filled with @plants[i].Plant_name </p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">


                                    <a href="@Url.Action("FillPot", "Pots", new { plant = plants[i] })" class="btn btn-primary">Add to pot</a>

                                </div>
                                <small class="text-muted"></small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>*@


<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js"></script>

